* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffe5e5;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 20px;
  max-width: 500px;
  margin: 20px;
}

.container .tenor-gif-embed {
  max-width: 200px;
}

.container .btn {
  display: flex;
  gap: 25px;
}

.btn a {
  text-decoration: none;
  color: #111;
  background: #fff;
  padding: 10px 25px;
  border-radius: 8px;
  box-shadow: 0.5rem 1rem 3rem hsl(0, 0%, 0%, 0.3);
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Ignore les clics sur le canvas */
  z-index: -1; /* Met en arrière-plan */
}

.selected {
  border: 4px solid #ff5733;
  border-radius: 10px;
}

.selection-buttons {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

button:disabled {
  background: #ddd;
  cursor: not-allowed;
}

input[type="date"] {
  font-size: 16px;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 8px;
}

.date-container {
  margin-top: 20px;
}

.meal-option {
  text-align: center;
}

img {
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 8px;
}

img.selected {
  border: 4px solid #ff5733;
}

p {
  margin-top: 8px;
  font-size: 14px;
}

.meal-option {
  text-align: center;
}

.meal-option img, 
.meal-option button {
  width: 170px;
  height: 150px;
  cursor: pointer;
  transition: transform 0.2s, border-color 0.2s;
}

.meal-option img:hover, 
.meal-option button:hover {
  transform: scale(1.05);
  border-color: #f39c12;
}

/* Style spécifique au bouton */
#suggestionButton {
  display: inline-block;
  background-color: #f39c12;
  color: white;
  border: none;
  text-align: center;
  font-size: 16px;
}

#suggestionButton:focus {
  outline: none;
}

.image-container {
  display: flex;
  gap: 10px;
  justify-content: center;
}